<!DOCTYPE html>
<html>
  <head>
    <title>Erro!</title>
  </head>
  <body>
    <h1>Erro ao cadastrar!</h1>
    <h2><%= erro %></h2>
    <a href="./">Voltar a página Inicial</a>
    <a href="./cadastrar">Cadastrar outro livro</a>
  </body>
</html>
